html {
    box-sizing: border-box;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2em;
    color: #848789;
    height: 100%;
    background-color: #ffffff;
}

input, textarea, select, button {
    font-family: inherit;
  }

  .wrapper {
      overflow: hidden;
      height: 100%;
  }

  .container {
      max-width: 1130px;
      padding: 0px 15px;
      margin: 0 auto;
  }

  .page {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
  }

.ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    }
    
    .ibg img{
     display: none;
        }
    
/* header start */

.header {
    position: absolute;
    z-index: 50;
    width: 100%;
    left: 0%;
    top: 35px;
}

.header__row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 85px;
}

.menu__list {
    display: flex;
}

.menu__link {
    text-decoration: none;
    font-family: Lato;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.2em;
    color: #4d4959;
}

.menu__list-item {
    position: relative;
    padding: 0px 36px;
}

.menu__list-item::after {
    content: '';
    width: 2px;
    height: 2px;
    background-color: #4d4959;
    position: absolute;
    right: 0%;
    top: 80%;
    border-radius: 50%;
    margin: 0px -2px 0px 0px;
}

.menu__list-item:nth-child(2)::after, .menu__list-item:last-child::after  {
    display: none;
}

.menu__list-item:nth-child(2) {
    padding: 0px 120px 0px 36px;

}

.menu__list-item:nth-child(3) {
    padding: 0px 36px 0px 120px;
}

.header__logo {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

/* ==================================  burger =========*/

.burger {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0px 25px;
    opacity: 60%;
}

.burger__line {
    position: absolute;
    top: 30%;
    right: 10%;
    transform: translateY(-50%);
    width: 80%;
    height: 3px;
    background-color: #4d4959;
}

.burger__line_second {
    top: 50%;
    transform: translateY(-50%);
}

.burger__line_third {
    top: 70%;
}

/* ==================================  menu__body_activ =========*/

@media (min-width:768px) {
    .menu__burger {
        display: none;
    }
}

@media (max-width:767px) {

    .header__row {
        justify-content: flex-end;
    }

    .menu__body {
        position: fixed;
        left: 0%;
        top: 0%;
        width: 100%;
        height: 100%;
        background-color: #282f35;
        z-index: 100;
        transform: translateX(100%);
        transition: .2s all linear;
    }

    .menu__body_active {
        transform: translateX(0%);
    }

    .burger__close {
        position: absolute;
        top: 55px;
        right: 25px;
        width: 40px;
        height: 40px;
        z-index: 100;
        background-color: #282f35;
        opacity: 60%;
    }

    .burger__close-line {
        position: absolute;
        width: 80%;
        height: 3px;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
        background-color: #bfc1c2;
        z-index: 100;
    }

    .burger__close-line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }

    .burger__close-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }

    .menu__link {
        color: #bfc1c2;
        font-size: 20px;
        line-height: 1.2em;
    }

    .menu__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
    }
    
    .menu__list-item {
        padding: 0px 0px;
        margin-bottom: 30px;
    }

    .menu__list-item:nth-child(2) {
        padding: 0px;
    }
    
    .menu__list-item:nth-child(3) {
        padding: 0px;
    }

    .menu__list-item::after {
        content: '';
        width: 5px;
        height: 5px;
        background-color: #bfc1c2;
        position: absolute;
        right: 50%;
        top: 155%;
        border-radius: 50%;
    }

    .menu__list-item:nth-child(2)::after {
        display: block;
    }

    .menu__list-item:last-child {
        margin-bottom: 0px;
    }
}

/* header end */

/* main start */

.main-screen {
    background-image: url(/img/bg_main.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1 0 100%;
    position: relative;
    
}

/* ==================================  generation =========*/

.generation {
    padding: 120px 0px;
    background-color: #f7f7f7;
}

@media (max-width:900px) {
    .generation {
        padding: 80px 0px;
    }
}

@media (max-width:600px) {
    .generation {
        padding: 30px 0px;
    }
}

.block {
    text-align: center;
}

.block__icon {
    margin: 0px 0px 30px 0px;
}

.block__title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #353738;
    margin: 0px 0px 18px 0px;
}

.block__text {
    font-size: 18px;
    line-height: 34px;
    font-weight: 400;
    color: #848789;
}
 /* ==================================  brands =========*/

.brands__row {
    display: flex;
}

@media (max-width:1100px) {
    .brands__row {
        flex-direction: column;
    }

    .brands__column_last:nth-child(1) {
        order: 1;
    }

    .brands__column_last:nth-child(3) {
        order: 1;
    }
}

.brands__column {
    flex: 0 1 33.333%;
}

.brands__column_big {
    flex: 0 1 66.666%;
}

.brands__column_rev {
    order: -1;
}

.brands__item {
    background-image: url(/img/brands/rectangle_1_54.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    position: relative;
}

.brands__item_rev {
    background-image: url(/img/brands/rectangle_1_copy_5_61.jpg);
}

.brands__item_last-first {
    background-image: url(/img/brands/rectangle_1_copy_6_63.jpg);
}
.brands__item_last-second {
    background-image: url(/img/brands/rectangle_1_copy_6_64.jpg);
}

.item__link {
    display: block;
    width: 100%;
    height: 100%;
}

.item__logo {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width:1100px) {
    .brands__item {
        height: auto;
        padding: 0 0 70% 0;
    }
}

.brands__content {
    background-color: #ffffff;
    padding: 70px 68px 55px 68px;
    position: relative;
}

@media (max-width:1500px) {
    .brands__content {
        padding: 40px 35px 30px 35px;
    }
}

.block__text_brands {
    font-size: 18px;
    line-height: 34px;
    text-align: justify;
}

.block__text_brands::after {
    content: '';
    display: block;
    margin:35px auto 0 auto;
    width: 50px;
    height: 1px;
    background-color: #d7d7d7;
}

@media (max-width:1500px) {
    .block__text_brands::after{
        width: 35px;
    }
}

.brands__content::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ffffff;
    margin: 0 0 0 -10px;
}

.brands__image {
    background-image: url(/img/brands/rectangle_1_copy_2_56.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1 0 100%;
    padding: 0px 0px 38% 0px;
}

.brands__image_rev {
    background-image: url(/img/brands/rectangle_1_copy_3_59.jpg);
}

.brands__image_last {
    background-image: url(/img/brands/rectangle_1_copy_6_65.jpg);
}
 
 /* ==================================  slider =========*/

.slider {
    background-color: #f7f7f7;
}

 .slider__body {
     text-align: center;
     padding: 120px 0px 0px 0px;
 }

 .slider__icon {
    padding: 0px 0px 35px 0px;
 }

 .slider__title {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #353738;
    padding: 0px 0px 20px 0px;
 }

 .slider__title-time {
    font-weight: 300;
    color: #848789;
 }

 .slider__text {
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    font-style: italic;
    color: #848789;
 }

 .slick-list {
    overflow: hidden;
}

 .slick-track {
    display: flex;
    align-items: flex-start;
 }

 .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .slick-dots li {
    list-style: none;
    margin: 100px 5px 70px 5px;
 }

 .slick-dots li button {
    font-size: 0px;
    width: 11px;
    height: 11px;
    background-color: transparent;
    border: 1px solid #a9afb3;
    border-radius: 50%;
 }

 .slick-dots li.slick-active button {
    background-color: #a9afb3;
 }

 @media (max-width:1400px) {
    .slider__body {
        padding: 70px 0px 0px 0px;
    }
    .slider__icon {
        padding: 0px 0px 25px 0px;
     }
     .slider__title {
        padding: 0px 0px 20px 0px;
     }
     .slider__text {
        font-size: 18px;
        line-height: 1.2em;
     }
     .slick-dots li {
        margin: 50px 5px 30px 5px;
     }
    
}

@media (max-width:900px) {
    .slider__body {
        padding: 65px 0px 0px 0px;
    }
    .slider__icon {
        padding: 0px 0px 20px 0px;
     }
     .slider__title {
        padding: 0px 0px 15px 0px;
     }
     .slider__text {
        font-size: 16px;
        line-height: 1.2em;
     }
     .slick-dots li {
        margin: 30px 5px 65px 5px;
     }
    
}

 /* ==================================  shops =========*/

.shop__body {
    display: flex;
}

.shop__column {
    flex: 0 1 16.666%;
}

.shop__column_big {
    flex: 0 1 33.333%;
}

.block-shop__row {
    display: flex;
}

.block-shop__col {
    flex: 0 1 50%;
}

.bitem {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.bitem__logo {
    background-color: rgba(100,194,158,0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease;
}

.bitem:hover .bitem__logo {
    opacity: 1;
    visibility: visible;
}

.bitem__logo-text {
    margin-top: 15px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
}

.bitem__img {
    height: 100%;
    padding: 0 0 50% 0;
}

.bitem__img_big {
    padding: 0 0 200% 0;
}

.bitem__img_l {
    padding: 0 0 100% 0;
}

.shop__footer {
    background-color: #282f35;
    text-align: center;
    padding: 75px 0px 75px 0px;
}

.shop__btn {
    display: inline-block;
    height: 50px;
    background-color: transparent;
    font-size: 14px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid rgba(255,255,255,0.5);
    padding: 0 60px;
}

@media (max-width:1400px) {
    .shop__footer {
        padding: 55px 0px 55px 0px;
    }
}

@media (max-width:1100px) {
    .shop__body {
        flex-wrap: wrap;
    }

    .shop__column, .shop__column_big {
        flex: 0 1 50%;
    }

    .shop__column:first-child, .shop__column:last-child {
        flex: 0 1 100%;
    }
    
}

@media (max-width:500px) {
    .shop__footer {
        padding: 35px 0px 35px 0px;
    }

    .shop__btn {
        padding: 0 10px;
        font-size: 11px;
        overflow: hidden;
    }
}

/* ==================================  subscribe =========*/

.subscribe__body {
    max-width: 536px;
    margin: 0 auto;
    text-align: center;
    padding: 110px 0px;
}

.subscribe_logo {
    padding: 0px 0px 40px 0px;
}

.subscribe__label {
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    font-style: italic;
    color: #848789;
    padding: 0px 0px 35px 0px;
}

.subscribe__form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe__input {
    flex: 1 1 auto;
    padding: 0px 8px 0px 0px;
}

.subscribe__button {
    flex: 0 0 126px;
    
}

.input {
    width: 100%;
    height: 69px;
    background-color: #ffffff;
    border: 1px solid #d3d7d9;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    font-style: italic;
    color: #929292;
    padding: 0px 28px;
}

.input:focus {
    color: #5b5b5b;
}

.input:focus::placeholder {
    color: transparent;
}

.subscribe__btn {
    width: 100%;
    height: 69px;
    background-color: #64c29e;
    font-size: 24px;
    line-height: 69px;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
}

@media (max-width:750px) {
    .subscribe__body {
        padding: 50px 0px;
    }
}

@media (max-width:500px) {
    .subscribe__form {
        display: block;
    }

    .subscribe__input {
        padding: 0px 0px 8px 0px;
    }
}

/* main end */

/* footer start */

.footer {
    width: 100%;
    background-color: #f7f7f7;
    text-align: center;
    padding: 100px 0px;
}

.footer__row {
    display: flex;
}

.footer__column {
    flex: 0 1 33.333%;
}

.footer__address {
    font-size: 13.9px;
    line-height: 17px;
    font-weight: 400;
    font-style: italic;
    color: #848789;
    text-align: left;
}

p:first-child {
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
}

.social__link {
    text-decoration: none;
    margin: 0px 7.5px;
}

.footer__dev.dev {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
}

.dev__text {
    font-size: 14px;
    font-style: italic;
    color: #848789;
    padding: 0px 9px 0px 0px;
}

@media (max-width:1100px) {
    .footer {
        padding: 50px 0px;
    }
}

@media (max-width:600px) {
    .footer {
        padding: 30px 0px;
    }
    .footer__row {
       flex-direction: column;
    }
    .footer__dev.dev {
        justify-content: center;
    }
    .footer__address {
        text-align: center;        
    }
    .footer__social {
        margin: 20px 0px;
    }
}
/* footer end */