html {
    box-sizing: border-box;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 53%;
    color: #848789;
    height: 100%;
}

input, textarea, select, button {
    font-family: inherit;
  }

  .wrapper {
      overflow: hidden;
      height: 100%;
  }

  .container {
      max-width: 1130px;
      padding: 0px 15px;
      margin: 0 auto;
  }

  .page {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
  }

/* header start */

.header {
    position: absolute;
    z-index: 50;
    width: 100%;
    left: 0%;
    top: 35px;
}

.header__row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 85px;
}

.menu__list {
    display: flex;
}

.menu__link {
    text-decoration: none;
    font-family: Lato;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.2em;
    color: #4d4959;
}

.menu__list-item {
    position: relative;
    padding: 0px 36px;
}

.menu__list-item::after {
    content: '';
    width: 2px;
    height: 2px;
    background-color: #4d4959;
    position: absolute;
    right: 0%;
    top: 80%;
    border-radius: 50%;
    margin: 0px -2px 0px 0px;
}

.menu__list-item:nth-child(2)::after, .menu__list-item:last-child::after  {
    display: none;
}

.menu__list-item:nth-child(2) {
    padding: 0px 120px 0px 36px;

}

.menu__list-item:nth-child(3) {
    padding: 0px 36px 0px 120px;
}

.header__logo {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.burger {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0px 25px;
    opacity: 60%;
}

.burger__line {
    position: absolute;
    top: 30%;
    right: 10%;
    transform: translateY(-50%);
    width: 80%;
    height: 3px;
    background-color: #4d4959;
}

.burger__line_second {
    top: 50%;
    transform: translateY(-50%);
}

.burger__line_third {
    top: 70%;
}

@media (min-width:768px) {
    .menu__burger {
        display: none;
    }
}

@media (max-width:767px) {

    .header__row {
        justify-content: flex-end;
    }

    .menu__body {
        position: fixed;
        left: 0%;
        top: 0%;
        width: 100%;
        height: 100%;
        background-color: #282f35;
        z-index: 100;
        transform: translateX(100%);
        transition: .2s all linear;
    }

    .menu__body_active {
        transform: translateX(0%);
    }

    .burger__close {
        position: absolute;
        top: 55px;
        right: 25px;
        width: 40px;
        height: 40px;
        z-index: 100;
        background-color: #282f35;
        opacity: 60%;
    }

    .burger__close-line {
        position: absolute;
        width: 80%;
        height: 3px;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
        background-color: #bfc1c2;
        z-index: 100;
    }

    .burger__close-line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }

    .burger__close-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }

    .menu__link {
        color: #bfc1c2;
        font-size: 20px;
        line-height: 1.2em;
    }

    .menu__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
    }
    
    .menu__list-item {
        padding: 0px 0px;
        margin-bottom: 30px;
    }

    .menu__list-item:nth-child(2) {
        padding: 0px;
    }
    
    .menu__list-item:nth-child(3) {
        padding: 0px;
    }

    .menu__list-item::after {
        content: '';
        width: 5px;
        height: 5px;
        background-color: #bfc1c2;
        position: absolute;
        right: 50%;
        top: 155%;
        border-radius: 50%;
    }

    .menu__list-item:nth-child(2)::after {
        display: block;
    }

    .menu__list-item:last-child {
        margin-bottom: 0px;
    }
}

/* header end */

/* main start */

.main-screen {
    background-image: url(/img/bg_main.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1 0 100%;
    position: relative;
}

.generation {
    padding: 120px 0px;
    background-color: #f7f7f7;
}

@media (max-width:900px) {
    .generation {
        padding: 80px 0px;
    }
}

@media (max-width:600px) {
    .generation {
        padding: 30px 0px;
    }
}

.block {
    text-align: center;
}

.block__icon {
    margin: 0px 0px 30px 0px;
}

.block__title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #353738;
    margin: 0px 0px 18px 0px;
}

.block__text {
    font-size: 18px;
    line-height: 34px;
    font-weight: 400;
    color: #848789;
}

   /* 
    
*/


/* main end */

/* footer start */
/* footer end */