@font-face {
  font-family: "bravo";
  font-weight: "400";
  font-style: "normal";
  src: url("../fonts/BravoRGRegular.ttf") format("truetype"); }

@font-face {
  font-family: "ceremonious";
  font-weight: "400";
  font-style: "normal";
  src: url("../fonts/ceremonious_one.ttf") format("truetype"); }

@font-face {
  font-family: "pfd";
  font-weight: "400";
  font-style: "normal";
  src: url("../fonts/pfdintextcondpro-regular.ttf") format("truetype"); }

@font-face {
  font-family: "pfd";
  font-weight: "500";
  font-style: "normal";
  src: url("../fonts/pfdintextcondpro-medium.ttf") format("truetype"); }

@font-face {
  font-family: "pt-sans";
  font-weight: "700";
  font-style: "normal";
  src: url("../fonts/PTSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "pt-sans";
  font-weight: "400";
  font-style: "italic";
  src: url("../fonts/PTSans-Italic.ttf") format("truetype"); }

@font-face {
  font-family: "pt-sans";
  font-weight: "400";
  font-style: "normal";
  src: url("../fonts/PTSans-Regular.ttf") format("truetype"); }

* {
  padding: 0;
  margin: 0;
  border: 0; }

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

:active,
:focus {
  outline: 0; }

a:active, a:focus {
  outline: 0; }

aside, footer, header, nav {
  display: block; }

body, html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

button, input, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/* -------------------------------------------- */
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

._container {
  max-width: 950px;
  margin: 0 auto; }
  @media (max-width: 962px) {
    ._container {
      max-width: 970px; } }

.b-header {
  width: 100%;
  height: 75px;
  background-color: #1c242a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50; }

.b-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%; }

.b-header__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.logo__img_l {
  height: 28px; }

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.menu__item {
  padding: 0px 30px 0px 0px; }

.menu__item:last-child {
  padding: 0px 0px 0px 0px; }

.menu__link {
  font-family: 'pfd';
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff; }

.action-region__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 0px 30px 0px 0px; }

.action-region__icon {
  padding: 0px 8px 0px 0px; }

.action-region__text {
  font-family: 'pfd';
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff; }

.action-userbar {
  position: relative; }

.action-userbar__icon {
  padding: 0px 10px 0px 0px; }

.action-userbar__link {
  display: inline-block;
  position: relative; }

.action-userbar__link::after, .action-userbar__link::before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 2px solid #bb9c66; }

.action-userbar__link::after {
  border-bottom: transparent;
  border-right: transparent;
  position: absolute;
  bottom: 65%;
  left: 78%;
  -webkit-border-image: -webkit-gradient(linear, left top, right bottom, from(#d2d2d2), color-stop(10%, #bb9c66));
  -webkit-border-image: -webkit-linear-gradient(top left, #d2d2d2 0%, #bb9c66 10%);
  -o-border-image: -o-linear-gradient(top left, #d2d2d2 0%, #bb9c66 10%);
  border-image: -webkit-gradient(linear, left top, right bottom, from(#d2d2d2), color-stop(10%, #bb9c66));
  border-image: linear-gradient(top left, #d2d2d2 0%, #bb9c66 10%);
  border-image-slice: 1; }

.action-userbar__link::before {
  border-top: transparent;
  border-left: transparent;
  position: absolute;
  top: 40%;
  left: 78%;
  -webkit-border-image: -webkit-gradient(linear, left top, right bottom, from(#d2d2d2), color-stop(85%, #bb9c66));
  -webkit-border-image: -webkit-linear-gradient(top left, #d2d2d2 0%, #bb9c66 85%);
  -o-border-image: -o-linear-gradient(top left, #d2d2d2 0%, #bb9c66 85%);
  border-image: -webkit-gradient(linear, left top, right bottom, from(#d2d2d2), color-stop(85%, #bb9c66));
  border-image: linear-gradient(top left, #d2d2d2 0%, #bb9c66 85%);
  border-image-slice: 1; }

.action-userbar__menu {
  position: absolute;
  top: 210%;
  right: -50%;
  background-color: #1c242a;
  min-width: 150px;
  padding: 10px 10px; }

.action-userbar__item_back1 {
  background-image: url("../../../img/action-userbar-back1.png");
  background-repeat: no-repeat;
  background-position: left center; }

.action-userbar__item_back2 {
  background-image: url("../../../img/action-userbar-back1.png");
  background-repeat: no-repeat;
  background-position: left center; }

.action-userbar__item_back3 {
  background-image: url("../../../img/action-userbar-back1.png");
  background-repeat: no-repeat;
  background-position: left center; }

.action-userbar__item_back4 {
  background-image: url("../../../img/action-userbar-back1.png");
  background-repeat: no-repeat;
  background-position: left center; }

.action-userbar__item-link {
  padding: 0px 0px 0px 30px;
  font-family: 'pfd';
  font-size: 14px;
  line-height: 18px;
  color: #ffffff; }

body {
  font-family: 'PT Sans';
  font-size: 15px;
  line-height: 25px;
  font-weight: 400; }

/*# sourceMappingURL=style.css.map */