@mixin font($font-family, $file-path, $weight, $style) {
    @font-face {
        font-family: $font-family;
        font-weight: $weight;
        font-style: $style;
        src: url('../fonts/#{$file-path}.ttf') format('truetype');
    }
}
