//<МИКСИНЫ>=====================================================================================
@import 'mixins.scss';
//</МИКСИНЫ>====================================================================================

//<ШРИФТЫ>=====================================================================================
//<Подключаем шрифты>=====================================================================================
@import 'fonts.scss';
//</Подключаем шрифты>====================================================================================
//<Иконочные шрифты>=====================================================================================
//</Иконочные шрифты>====================================================================================
//<Шрифт по умолчанию>=====================================================================================
$fontfamily: 'pt-sans';
//</Шрифт по умолчанию>====================================================================================
//</ШРИФТЫ>====================================================================================

//<ПЕРЕМЕННЫЕ>=====================================================================================
$minwidth: 320px;
$mw: 950;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>====================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=====================================================================================
@import 'null.scss';
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>====================================================================================

//<ОБОЛОЧКА>=====================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
//</ОБОЛОЧКА>====================================================================================

//<ОСНОВНАЯ СЕТКА>=====================================================================================
._container {
  max-width: $mw + px;
  margin: 0 auto;
  @media (max-width: $md1 + px) {
    max-width: 970px;
  }
}
//</ОСНОВНАЯ СЕТКА>====================================================================================


//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=====================================================================================
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================


//<ОСНОВНОЙ БЛОК>=====================================================================================
//</ОСНОВНОЙ БЛОК>====================================================================================
