doctype html
html(lang="ru")
  include ../base.pug
  body
    .wrapper
      include ../../components/b-header/b-header.pug
      .b-promo promo
      .b-lots lots
      .b-service service
      .b-info info
      .b-footer footer
