.b-header__action-userbar.action-userbar
  img.action-userbar__icon(src="../../../img/action-userbar-1.png" alt="Пользовательское меню")
  ul.action-userbar__list
    li.action-userbar__item
      a.action-userbar__link(href="rouesh/page") Выбор региона
    li.action-userbar__item
      a.action-userbar__link(href="rouesh/page") Личный кабинет
    li.action-userbar__item
      a.action-userbar__link(href="rouesh/page") Мои ставки
    li.action-userbar__item
      a.action-userbar__link(href="rouesh/page") Мои лоты