/* pt-sans-regular - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/pt-sans-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/pt-sans-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
	font-family: 'Bebas';
  font-weight: normal;
	font-style: normal;
	src: local(''), url('../fonts/BEBAS.woff') format('woff');	
}

@font-face {
	font-family: 'AkzidenzGrotesk';
  font-weight: 600;
	font-style: normal;
	src: local(''), url('../fonts/AkzidenzGrotesk-BoldCond.woff') format('woff');
}
