html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'PT Sans';
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    color: #000000;
}

input, textarea, select, button {
    font-family: inherit;
  }

a {
    text-decoration: none;
}

.container {
    max-width: 888px;
    margin: 0 auto;
    padding: 0 10px;
}

.ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    }
    
    .ibg img{
     display: none;
        }
    

/*--  -------------------header start--------------------- --*/

.header {
    padding: 26px 0px 25px 0px;
    background-color: #ffffff;
}

.header-adapt {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 100;
    transform: translateX(100%);
    transition: .2s all linear;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-adapt_active {
    transform: translateY(0%);
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top__lang-item {
    font-family: 'Bebas';
    font-size: 11px;
    line-height: 19px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: underline;
    color: #000000;
    margin: 0px 5px 0px 0px;
    padding: 4px;
}

.header-top__lang-item_select {
    text-decoration: none;
    color: #ffffff;
    background-color: #000000;
}

.header-top__lang-item:last-child {
    margin: 0px 0px 0px 0px;
}

.header-top__ordering {
    font-family: 'AkzidenzGrotesk';
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: underline;
    color: #000000;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-bottom__column_center {
    margin-top: -25px;
}

.menu__list {
    display: flex;
    margin-top: -21px;
    justify-content: space-between;
}

.menu__item {
    padding: 0px 45px 0px 0px;
}

.menu__item_b {
    padding: 0px 52px 0px 0px;
}

.menu__item:last-child {
    padding: 0px 0px 0px 0px;
}

.menu__link {
    font-family: 'AkzidenzGrotesk';
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #000000;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo__text {
    font-family: 'Bebas';
    font-size: 9px;
    line-height: 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.8em;
    color: #000000;
}

.logo__text_top {
    letter-spacing: 0.6em;
}

.logo__image {
    padding: 8px 0px 13px 0px;
}

@media (max-width:860px) {
    .menu__item {
        padding: 0px 25px 0px 0px;
    }
    .menu__item_b {
        padding: 0px 28px 0px 0px;
    }
    
}

/*--  -------------------burger start--------------------- --*/

.burger {
    width: 40px;
    height: 40px;
    position: relative;
    display: none;
}

.burger__line {
    position: absolute;
    top: 30%;
    right: 10%;
    transform: translateY(-50%);
    width: 80%;
    height: 3px;
    background-color: #000000;
}

.burger__line_second {
    top: 50%;
    transform: translateY(-50%);
}

.burger__line_third {
    top: 70%;
}

.burger__close {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 40px;
    height: 40px;
    z-index: 100;
    background-color: #ffffff;
}

.burger__close-line {
    position: absolute;
    width: 80%;
    height: 3px;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    background-color: #000000;
    z-index: 100;
}

.burger__close-line:first-child {
    transform: translateY(-50%) rotate(45deg);
}

.burger__close-line:last-child {
    transform: translateY(-50%) rotate(-45deg);
}

/*--  -------------------burger end--------------------- --*/


@media (max-width:765px) {
    .header-top {
        flex-direction: row-reverse;
    }

    .burger {
        display: block;
    }

    .header-bottom {
        flex-direction: column;
    }

    .header {
        padding: 10px 0px 10px 0px;
    }

    .header-bottom__column_center {
        margin-top: -35px;
        padding: 0px 0px 10px 0px;
    }

    .header-top__ordering {
        font-size: 12px;
        order: 1;
        padding: 0px 0px 0px 0px;
    }

    .header-adapt {
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    .header-adapt__logo {
        order: 0;
        padding: 5px 0px 15px 0px;
    }

    .logo__image {
        padding: 2px 0px 5px 0px;
    }

    .logo__image img {
        width: 150px;
    }

    .logo__text {
        font-size: 7px;
        line-height: 12px;
        letter-spacing: 0.6em;
    }

    .header-top__lang {
        align-self: start;
        padding: 0px 0px 10px 0px;
    }

    .menu__list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
    }

    .menu__item {
        padding: 0px 0px 10px 0px;
    }

     .menu__item_b {
        padding: 0px 0px 10px 0px;
    }

    .menu__item:last-child {
        padding: 0px 0px 10px 0px;
    }

    .menu__item_last:last-child {
        padding: 0px 0px 35px 0px;
    }
    
}

@media (max-width:450px) {
    .header-top__ordering {
        padding: 0px 0px 20px 0px;
        font-size: 15px;
    }

    
}

/*--  -------------------header end--------------------- --*/
/*--  -------------------main start--------------------- --*/
.main__section {
    background-color: #000000;
    display: flex;
}

.section__image {
    flex: 1 0 50%;
    padding: 0 0 31.1% 0;
}

.section__block {
    flex: 1 0 50%;
    padding: 5% 63px 73px 63px;
}

.block__title {
    font-family: 'AkzidenzGrotesk';
    font-size: 50px;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #ffffff;
    margin-top: 13px;
    padding: 0px 0px 25px 0px;
}

.block__text { 
    color: #ffffff;
    padding: 0px 0px 50px 0px;
    width: 60%;
}

.block__btn {
    padding: 0px 0px 0px 0px;
}

.block__btn-quote {
    font-family: Bebas;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #000000;
    background-color: #ffffff;
    line-height: 50px;
    padding: 15px 33px;
    width: 155px;
}

.block__btn-view {
    font-family: Bebas;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #ffffff;
    padding: 0px 0px 0px 10px;
}

@media (max-width:1100px) {
    .block__title {
    font-size: 40px;
    line-height: 40px;
    margin-top: 13px;
    padding: 0px 0px 25px 0px;
    } 
    .block__text { 
    width: 70%;
    }
}

@media (max-width:860px) {
    .section__block{
        padding: 5% 33px 43px 33px;
    }
    .block__title {
    margin-top: 0px;
    padding: 0px 0px 20px 0px;
    } 
    .block__text { 
    padding: 0px 0px 40px 0px;
    width: 70%;
    }
}

@media (max-width:765px) {
    .section__block{
        padding: 5% 23px 33px 23px;
    }
    .block__text { 
        width: 80%;
    }
    .block__btn-quote {
        line-height: 20px;
        padding: 8px 20px;
    }
    
}

@media (max-width:600px) {
    .block__title {
        font-size: 30px;
    } 
    .block__text { 
        padding: 0px 0px 20px 0px;
        width: 100%;
        font-size: 13px;
    }
    .block__btn {
        display: flex;
        flex-direction: column;
    }
    .block__btn-quote {
        padding: 8px 20px;
        font-size: 13px;
    }
    .block__btn-view {
        font-size: 13px;
        padding: 10px 0px 0px 0px;
    }
}

@media (max-width:440px) {
    .section__block{
        padding: 5% 10px 15px 10px;
    }
    .block__btn-quote {
        width: 100%;
    }
    
}

.main__catering {
    background-color: #ffffff;
}

.main__catering-cards {
    margin-top: 8.3%;
    padding: 0px 0px 72px 0px;
}

.catering-card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.catering-card__section {
    flex: 1 1 25%;
}

.section_l {
    display: flex;
    flex-direction: column;
}

.section__image_l {
    flex: 1 0 auto;
    padding: 0 0 103% 0;
    
}

.section__block_l{
    flex: 1 0 auto;
}

.block.block_l {
    padding: 4px;
}

.block__title_l {
    color: #000000;
    font-size: 25px;
    line-height: 25px;
    margin-top: 20px;
    padding: 0px 0px 25px 0px;
    width: 80%;
}

.block__text_l {
    color: #000000;
    padding: 0px 0px 30px 0px;
    width: 100%;
}

.block__btn_l {
    display: flex;
    flex-direction: column;
}

.block__btn-quote_l {
    color: #ffffff;
    background-color: #000000;
    line-height: 25px;
    padding: 12px 30px;
    width: 155px;
}

.block__btn-view_l {
    color: #000000;
    padding: 25px 0px 0px 0px;
}

@media (max-width:650px) {
    .catering-card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section_l {
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        padding: 0px 0px 20px 0px;
    }

    .section_l:last-child {
        padding: 0px 0px 0px 0px;
    }

    .section_rev {
        flex-direction: row;
        justify-content: space-between;
    }

    .section__image_l {
        flex: 1 0 40%;
        padding: 0 0 30% 0;
    }
    .section__block_l{
        flex: 1 0 60%;
    } 

    .block__title_l {
        font-size: 20px;
        line-height: 20px;
        margin-top: 5px;
        padding: 0px 0px 10px 0px;
        width: 60%;
    }

    .block__title_rev {
        margin-left: auto;
        text-align: right;
    }

    .block__text_l {
        padding: 0px 0px 15px 0px;
        width: 80%;
    }
    .block__text_rev {
        margin-left: auto;
        text-align: right;
    }
    .block__btn_rev {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .block__btn-quote_l {
        line-height: 25px;
        padding: 12px 30px;
        width: 155px;
    }
    .block__btn-view_l {
        padding: 10px 0px 0px 0px;
    }
}

@media (max-width:500px) {
    .block__title_l {
        width: 80%;
    }
    .block__text_l {
        padding: 0px 0px 8px 0px;
        width: 100%;
    }
}

.section_second {
    flex-direction: row-reverse;
    align-items: center;
}

.section__image_second {
    flex: 1 0 50%;
    padding: 0 0 11% 0;
}

.section__block_second {
    flex: 1 0 50%;
    padding: 0px 60px 0px 0px;
}

.block__title_second {
    padding: 0px 0px 0px 0px;
    text-align: right;
    margin-top: 0px;
}

@media (max-width:850px) {
    .main__catering-cards {
        padding: 0px 0px 42px 0px;
    }
    .section__block_second {
        padding: 0px 30px 0px 0px;
    }
}

@media (max-width:700px) {
    .main__catering-cards {
        padding: 0px 0px 22px 0px;
    }
    .section__block_second {
        padding: 5px 10px 5px 5px;
    }
    .block__title_second {
        font-size: 30px;
    }
}

@media (max-width:500px) {
    .section_second {
        flex-direction: column;
    }
    .section__image_second {
        display: none;
    }
    
}

.main__choice {
    background-color: #ebebeb;
    padding: 50px 0px 55px 0px;
} 

.choice__row {
    display: flex;
    padding: 0px 0px 47px 0px;   
}

.choice__row:last-child {
    padding: 0px 0px 0px 0px;   
}

.choice__column {
    flex: 0 1 50%; 
}

.card{
    display: flex;    
}

.card__image {
    flex: 0 0 100px;
    height: 100px;
}

.card__container{
    flex: 0 1 auto;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 10px;
}

.card__title{
    font-family: 'AkzidenzGrotesk';
    font-size: 25px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #000000;

}

@media (max-width:850px) {
    .card__title{
        font-size: 20px;
        line-height: 20px;
        padding: 0px 0px 15px 0px;
    }
    
}

@media (max-width:765px) {
    .choice__row {
        flex-direction: column;
        align-items: center;
        padding: 0px 0px 30px 0px;   
    }
    .choice__column {
        flex: 0 1 100%; 
        padding: 0px 0px 30px 0px; 
    }
    .choice__column:last-child {
        padding: 0px 0px 0px 0px; 
    }
    .choice__card {
        margin: 0 auto;
    }
}
@media (max-width:600px) {
    .main__choice {
        padding: 25px 0px 25px;
    }
}

.contacts__title {
    font-family: 'AkzidenzGrotesk';
    font-size: 50px;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #000000;
    margin-top: 73px;
}

.contacts__body {
    display: flex;
    flex-wrap: wrap;
}

.contacts__column {
    flex: 0 1 50%;
}

.contacts__card {
    padding: 0px 0px 0px 29px;
    margin-top: 21px;
    display: inline-block;
}

.contacts__card_1 {
    background-image: url(/img/vv_1387.png);
    background-repeat: no-repeat;
    background-position: left;
}

.contacts__card_2 {
    background-image: url(/img/email_1379.png);
    background-repeat: no-repeat;
    background-position: left;
    padding: 0px 0px 0px 40px;
}

.contacts__card_3 {
    background-image: url(/img/telephone_1380.png);
    background-repeat: no-repeat;
    background-position: left;
}

.contacts__card-text {
    font-size: 15px;
    color: #000000;
    line-height: 27px;
    vertical-align: middle;
}

.sup {
    font-size: 10px;
    vertical-align: super;
}

.contacts__social {
    padding: 24px 0px 0px 0px;
}

.social__item {
    padding: 0px 30px 0px 0px;
}

.social__item:last-child {
    padding: 0px 0px 0px 0px;
}

.social__img {
    width: 24px;
    height: 24px;
}

@media (max-width:850px) {
    .contacts__title {
        margin-top: 40px;
    }
    .contacts__card {
        margin-top: 15px;
    }
}

@media (max-width:765px)  {
    .contacts__title {
        margin-top: 30px;
        font-size: 30px;
        line-height: 30px;
    }
    .contacts__body {
        margin: 0px 30%;
    }
    .contacts__column {
        flex: 0 1 100%;
    }
    .contacts__card {
        margin-top: 5px;
        padding: 0px 0px 0px 35px;
    }
    .contacts__card-text {
        font-size: 13px;
    }
    .contacts__social {
        padding: 16px 0px 0px 0px;
    }
}

@media (max-width:600px) {
    .contacts__body {
        margin: 0px 25%;
    }
    .social__item {
        padding: 0px 10px 0px 0px;
    }
}
@media (max-width:350px) {
    .contacts__body {
        margin: 0px 10%;
    }
}

.main__map {
    margin-top: 24px;
}

.map {
    display: flex;
    background-color: #000000;
}

.map__block {
    flex: 1 0 50%;
    padding: 0 0 34.8% 0;
}

.map__block-form {
    flex: 1 0 50%;
}

.form {
    padding: 50px 60px 50px 60px;
}

.form__title {
    font-family: 'AkzidenzGrotesk';
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #ffffff;
    padding: 0px 0px 21px 0px;
}

.form__body {
    display: flex;
    flex-direction: column;
    max-width: 375px;
}

.form__body-name {
    border: 2px solid #959595;
    background-color: #252525;
    font-family: 'PT Sans';
    font-size: 15px;
    color: #959595;
    padding: 13px;
    margin-bottom: 25px;
}

.form__body-contact {
    border: 2px solid #959595;
    background-color: #252525;
    font-family: 'PT Sans';
    font-size: 15px;
    color: #959595;
    padding: 13px;
    margin-bottom: 25px;
}

.form__body-massage {
    border: 2px solid #959595;
    background-color: #252525;
    font-family: 'PT Sans';
    font-size: 15px;
    color: #959595;
    height: 100px;
    padding: 13px;
    margin-bottom: 25px;
    resize: none;
}

.form__body-btn {
    font-family: Bebas;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #000000;
    background-color: #ffffff;
    line-height: 50px;
    padding: 0px 10px;
    width: 155px;
}

@media (max-width:765px)  {
    .map {
        flex-direction: column;
    }
}

@media (max-width:600px)  {
    .form {
        padding: 30px 43px 30px 43px;
    }
    .form__body-btn {
        font-size: 12px;
        line-height: 35px;
        width: 145px;
        padding: 0px 7px;
    }
    .form__body-name {
        padding: 10px;
    }
    .form__body-contact {
        padding: 10px;
    }
    .form__body-massage {
        padding: 10px;
    }
}

/*--  -------------------main end--------------------- --*/
/*--  -------------------footer start--------------------- --*/
.footer {
    display: flex;
    align-items: flex-end;
    margin: 37px auto;
}

.footer__column {
    flex: 1 0 50%;
}

.footer__copyright {
    font-family: 'PT Sans'; 
    color: #4d4d4d;
}

.footer__copyright_line {
    text-decoration: underline;
}

.footer__logo-img {
    float: right;
}

@media (max-width:650px)  {
    .footer {
        flex-direction: column;
        align-items: center;
        margin: 15px auto;
    }
    .footer__copyright {
        font-size: 10px;
    }
    .footer__logo-img {
        float: none;
        margin: 10px auto;
    }
}

/*--  -------------------footer end--------------------- --*/
