.b-header__logo.logo
  a.logo__link(href="rouesh/page")
    img.logo__img.logo__img_l(src="../../../img/logo-1.png" alt="Элемент логотипа")
    img.logo__img.logo__img_l(src="../../../img/logo-2.png" alt="Логотип")