header.b-header
  .b-header__container._container
    include ../logo/logo.pug
    include ../menu/menu.pug
    .b-header__action
      include ../action-region/action-region.pug
      include ../action-userbar/action-userbar.pug
