.b-header__action-region.action-region
  a.action-region__link(href="rouesh/page")
    img.action-region__icon(src="../../../img/action-region-1.png" alt="Иконка выбора региона")
    .action-region__text Выбор региона