html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2em;
    color: #1D1D1D;
    margin-top: 72px;
}

input, textarea, select, button {
    font-family: inherit;
  }

a {
    text-decoration: none;
}

.button {
    display: block;
}
/* header start */

.header {
    width: 100%;
    height: 72px;
    background-color: white;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 101;
    box-shadow: 0 1px 10px #D8D8D8;
}

.header__wrapper, .header_row {
    height: 100%;
}

.header__login-button {
    background-color: transparent;
    border: 1px solid #E0E0E0;
    font-size: 12px;
    line-height: 24px;
    /*padding: 14px 20px;*/
    font-weight: 600;
    color: #1D1D1D;
    width: 78px;
    height: 40px;
    vertical-align: middle;
}

.header__basket-button {
    background-color: transparent;
    border: none;
}

/* header end */
/* main start */

.main__search-input {
    width: 100%;
    margin: 57px auto;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(117, 117, 117, 0.3);
}

.main__search-input::placeholder {
    color: hsla(0, 0%, 40%, 0.5);
}

.rest__title {
    font-size: 22px;
}

.rest__card {
    margin-top: 16px;
    padding-bottom: 20px;
}

.rest__card-img {
    width: 100%;
    margin-bottom: 16px;
}

.rest__card-name {
    font-size: 16px;
    color: #1D1D1D;
    letter-spacing: 0.03em;
    margin-bottom: 4px;
    line-height: 24px;
}

.rest__card-cuisine {
    font-size: 14px;
    color: #626262;
    line-height: 21px;
    margin-bottom: 4px;
}

.rest__card-time {
    font-size: 14px;
    line-height: 21px;
}
/* main end */
/* main-rest start */
.rest {
    display: flex;
}

.rest__header {
  flex: 0 1 100%;
  background-image: url(../page/img/pushkin.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px 0px 32.4% 0px;
}

.container {
    position: relative;
}

.rest__cards {
    position: absolute;
    left: 0px;
    top: 80px;
    background-color: #ffffff;
    padding: 37px 37px;
}


.restaurant__title {
    font-size: 36px;
    line-height: 42px;
    color: #1D1D1D;
    padding: 0px 0px 54px 0px;
}

.restaurant__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: transparent;
}

.restaurant__kitchen {
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    color: #626262;
}

.restaurant__time {
    background: #262626;
    border-radius: 16px;
    font-size: 13px;
    line-height: 32px;
    color: #ffffff;
    padding: 0px 16px;
    
    
}


/* main-rest end */
/* footer start */

.footer {
    width: 100%;
    background-color: #262626;
    color: #ffffff;
    position: relative;
}

.footer__logo-img {
    margin-top: 57px;
    margin-bottom: 40px;
}

.footer__line {
   border-bottom: 1px solid #979797;
   margin: 0px 8px 40px 8px;
}

.footer__social-lang {  
    margin-top: -8px;
}

.footer__social-lang-input {
    display: block;
    width: 75%;
    height: 40px;
    border-left: 16px solid transparent;
    border-right: 8px solid transparent;
    border-top: none;
    border-bottom: none;
    color: #ffffff;
    font-size: 13px;
    background: #3b3b3b url(/img/world.svg) no-repeat left center;
    background-size: 16px;
    padding-left: 32px;
    margin-bottom: 33px;
}

.footer__social-net-tag {
    font-size: 16px;
    margin-bottom: 17px;
}

.footer__social-net-tag-letter-green {
    color: #49A144;
}

.footer__list-link {
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}


.footer__list-item {
    margin-bottom: 23px;
}

.footer__list-item:last-child {
    margin-bottom: 0px;
}

.footer__list {
    margin-bottom: 48px;
}

.footer__app{
    margin-bottom: 40px;
}

.footer__app-img-apple {
    margin-right: 40px;
}

.footer__copyright-text {
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.footer__square {
    width: 80px;
    height: 80px;
    background-color: #59BD5A;
    border-color: transparent;
    position: fixed;
    bottom: 24px;
    right: 16px;
    color: #ffffff;
}

.footer__square::before {
    width: 2px;
    height: 24px;
    background-color: #ffffff;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.footer__square::after {
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    content: '';
    position: absolute;
    left: 50%;
    top: 42%;
}
/* footer end */
