html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2em;
    color: #1D1D1D;
    margin-top: 72px;
}

input, textarea, select, button {
    font-family: inherit;
  }

a {
    text-decoration: none;
}



/*--  -------------------header start--------------------- --*/

.header {
    width: 100%;
    height: 72px;
    background-color: #ffffff;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 101;
    box-shadow: 0 1px 10px #D8D8D8;
}

.container {
    max-width: 982px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__btn {
    display: flex;
    align-items: center;
    width: 152px;
}

.header__login {
    padding: 0px 17px;
}

.header__login-button {
    text-align: center;
    background-color: transparent;
    border: 1px solid #E0E0E0;
    font-size: 12px;
    line-height: 40px;
    font-weight: 600;
    color: #1D1D1D;
    width: 78px;
    height: 40px;
}

.header__basket {
    padding: 0px 10px;
}

.header__basket-button {
    background-color: transparent;
    border: none;
}

.header__login:hover .header__login-button {
    background-color: #f1f1f1;
}

.header__basket:hover .basket-img {
    transform: scale(1.2);
}

@media (max-width:800px) {
    .container {
        max-width: 772px;
        padding: 0 10px;
    }
    
}

@media (max-width:340px) {
    .container {
        max-width: 328px;
        padding: 0 10px;
    }
    .header__basket {
        display: none;
        visibility: hidden;
    }
    .header__btn {
        display: flex;
        justify-content: flex-end;
    }
    .header__login {
        padding: 0px 5px;
    }
}



/*--  -------------------main start--------------------- --*/
/*--  -------------------main end--------------------- --*/
/*--  -------------------footer start--------------------- --*/
/*--  -------------------footer end--------------------- --*/
/*--  -------------------header end--------------------- --*/