.b-header__menu.menu
  nav.menu__nav
    ul.menu__list
      li.menu__item
        a.menu__link(href="rouesh/page") Главная
      li.menu__item
        a.menu__link(href="rouesh/page") Аукцион
      li.menu__item
        a.menu__link(href="rouesh/page") О проекте
      li.menu__item
        a.menu__link(href="rouesh/page") Партнерам
      li.menu__item
        a.menu__link(href="rouesh/page") Контакты